@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;1,400;1,800&display=swap');



:root{
    --primary: #3155e7;
    --primary-dark: #2045d6;
    --black: #010101;
    --gray-1: #788190;
    --gray-2: #d3d4db;
    --white: #FFFFFF;
    --body: #fefefe;
}

body {
    font-family: 'Plus Jakarta Sans', sans-serif;
    background-color: var(--body);
}

.btn{
    border-radius: 8px;
}

.btn-primary,
.btn-outline-secondary,
.btn-outline-third{
    padding:12px 20px;
}
.btn-primary{
    background-color: var(--primary);
}

.btn-primary:hover{
    background-color: var(--primary-dark);
}

.btn-outline-secondary{
    border: 1px solid var(--gray-2);
    color: var(--black);
}

.btn-outline-secondary:hover{
    background-color: var(--gray-2);
    border: 1px solid var(--gray-2);
    color: var(--black);
}
.btn-outline-secondary:focus{
    background-color: var(--gray-2);
    border: 1px solid var(--gray-2);
    color: var(--black);
}

.btn-outline-third{
    border: 1px solid var(--gray-2);
    color: var(--black);
}

.btn-outline-third:hover{
    background-color: var(--gray-2);
    border: 1px solid var(--gray-2);
    color: var(--black);
}
.btn-outline-third:focus{
    background-color: var(--gray-2);
    border: 1px solid var(--gray-2);
    color: var(--black);
}


.btn-outline-fourth{
    border: 1px solid var(--gray-2);
    color: var(--black);
}

.btn-outline-fourth:hover{
    background-color: var(--gray-4);
    border: 1px solid var(--gray-4);
    color: var(--black);
}
.btn-outline-fourth:focus{
    background-color: var(--gray-4);
    border: 1px solid var(--gray-4);
    color: var(--black);
}

.navbar .btn-outline-secondary{
    border: 1px solid var(--gray-2);
    color: var(--black);
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    padding: 10px 16px;
}
.navbar .btn-outline-third{
    border: 1px solid var(--gray-2);
    color: var(--black);
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    padding: 10px 16px;
}
.navbar .btn-outline-fourth{
    border: 1px solid var(--gray-2);
    color: var(--black);
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    padding: 10px 16px;
}

.navbar{
    padding: 16px 0;
}

.nav-link{
    margin-left: 41px;
    font-size: 16px;
    color: var(--gray-1);
}

.navbar-nav .nav-link.active{
    font-weight: bold;
    color: var(--black);
}

section.hero{
   padding: 50px 0;
}


section.hero .text{
    font-weight: 800;
    font-size:48px;
    line-height: 73px ;
    color: var(--black);
}

.buttons{
    padding-top: 69px;
}

.buttons .btn{
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
}

section.setup{
/*bu resim ile aşağıdaki kutucuklar arasındaki boşluk miktarı*/
    padding: 100px 0;
}

section.setup .text-header h3{
    font-size: 42px;
    font-weight: 700;
    line-height: 48px;
    color: var(--black);

}
section.setup .text-header p{
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    color: var(--black);
    padding: 27px 0;

}

section.setup .icons{
    padding: 27px 0;
}

section.setup h5{
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: var(--black);
}

section.setup .desc p{
    font-size: 13px;
    font-weight: 400;
    line-height: 22px;
    color: var(--black);
    max-width: 284px;
    margin: 0 auto;
}

section.information .text-information{
    padding: 100px 0;
}

section.information h5{
    font-size: 42px;
    font-weight: 700;
    line-height: 48px;
    color: var(--black);
}

section.information p{
    font-size: 22px;
    font-weight: 300;
    line-height: 28px;
    color: var(--grey-1);
    padding-top: 25x;
}

section.information .info-1{
    padding: 183.px;
}

footer{
    padding-top:100px ;
    margin-bottom: 44px;
}

footer a{
    font-weight:bold ;
    font-size: 14px;
    color:var(--black);
    line-height: 18px;
}


footer .copy{
    margin-top: 32px;
    font-size: 14px;
    color: var(--gray-1);
    line-height: 17px;
    font-weight: 400px;
}

.deneme{
    width:600px;
    border-radius: 15px;
    margin-left: 10px;
}
.denemeler{
    width:550px;
    border-radius: 15px;
    margin-left: 50px;
}